body {
    margin: 0;
}

.header {
    font-family: inherit;
    text-align: center;
    color: #FFFFFF
}

.header-ctn {
    padding: 1px;
    background-color: #6943FF;
}

.number-covert {
    border: 3px solid #B295FF;
    border-radius: 5px;
    width: 100px;
    padding: 7px;
    font-weight: 800;
    text-align: center;
    font-size: 50px;
    color: #FFFFFF;
    background-color: #6943FF;
}

::placeholder {
    color: #6943FF
}

.border {
    text-align: center;
}

#btn-el {
    background-color: #FFFFFF;
    border: none;
    border-radius: 3px;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 10px 15px 10px 15px;
}

.center {
    text-align: center;
}

.main-ctn {
    background-color: #1F2937;
    padding: 1px;
}

.ctn-1,
.ctn-2,
.ctn-3 {
    text-align: center;
    margin: 24px;
    background-color: #273549;
    border-radius: 5px;
    padding: 1px;
}

.measurement-header {
    font-size: 25px;
    color: #CCC1FF
}

.measurement-data {
    color: white;
    font-size: 18px;
    color: #FFFFFF
}